<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />

    <add key="connectionString" value="Data Source=LAPTOP-VLB544BD\MYSQLSERVER;Initial Catalog=Marlow_Alex_db;Integrated Security=True"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>